Art Blakey & the Jazz Messengers - Moanin' [8TdY6iqV2k0]_zcr.png
Art Blakey & the Jazz Messengers - Along Came Betty [CTzRHq_cH5E]_zcr.png
1939 HITS ARCHIVE： Little Brown Jug - Glenn Miller [fMWl8ck8XSk]_zcr.png
Art Pepper－You'd Be So Nice to Come Home To [xISaCzXYYg8]_zcr.png
Blue Monk, Thelonius Monk [_40V2lcxM7k]_zcr.png
Bud Powell - Collard Greens and Black Eyed Peas [N76ErzOdk9g]_zcr.png
Charlie Parker - Scrapple from the Apple (1948) [c-69SscIpC8]_zcr.png
Charlie Parker- Confirmation [yXK0pZx92MU]_zcr.png
Charlie ＂Bird＂ Parker - Yardbird Suite [HmroWIcCNUI]_zcr.png
Clifford Brown & Max Roach - Joy Spring [6tBJa8Ew6fQ]_zcr.png
Dave Brubeck - Take Five [vmDDOFXSgAs]_zcr.png
Eddie Harris & Les McCann - Compared To What [fvJzCdgB3Tc]_zcr.png
Green Chimneys [10cYHU9j31Q]_zcr.png
Hank Mobley - Soul Station  1960 HQ [9ohyLzAu_qM]_zcr.png
Horace Silver - Song for My Father [CWeXOm49kE0]_zcr.png
If I Were A Bell - The Miles Davis Quintet [36wafFjFdYs]_zcr.png
Jimmy Smith - When Johnny Comes Marching Home [KsAf0ra6Vd4]_zcr.png
Joe Henderson - Blue Bossa [M69YdmAJoLs]_zcr.png
John Coltrane - Blue Train [YjRbmtrDJI4]_zcr.png
John Coltrane - Giant Steps [h6NCx0wcrC4]_zcr.png
Kenny Burrell - Chitlins Con Carne [mP0flneNfaQ]_zcr.png
Kenny Burrell - Midnight Blue [eNWDwOsQqlw]_zcr.png
Kenny Dorham - Una mas [TDETNk20Vkc]_zcr.png
Killer Joe By Art Farmer & Benny Golson Jazztet [u23Etcb-L9M]_zcr.png
Lee Morgan - The Sidewinder [qJi03NqXfk8]_zcr.png
Lee Morgan Quintet - Ceora [ECw3WAX41OA]_zcr.png
Little Brown Jug Glenn Miller [OYo6G8RBjAE]_zcr.png
Little Sunflower - Original Version - 1967 [OtB8dEuEmNM]_zcr.png
Louis Armstrong -  C'est si bon (1962) [OFCS7kZwxug]_zcr.png
Louis Armstrong - When The Saints Go Marching In [wyLjbMBpGDA]_zcr.png
Louis Armstrong-Go Down Moses [SP5EfwBWgg0]_zcr.png
Miles Davis - All Blues (Audio) (Official Audio) [-488UORrfJ0]_zcr.png
Miles Davis - Freddie Freeloader (Audio) (Official Audio) [ZZcuSBouhVA]_zcr.png
Miles Davis - Milestones [2vOWMz1z7rk]_zcr.png
Miles Davis - On Green Dolphin street [IrVnm66joQk]_zcr.png
More Today Than Yesterday-Charles Earland-1970 [WqEweV0eScg]_zcr.png
My Favorite Things - John Coltrane [FULL VERSION] HQ [qWG2dsXV5HI]_zcr.png
Naima - John Coltrane [Cx-TxiBi43c]_zcr.png
Oliver Nelson - Stolen Moments [I777BcgQL9o]_zcr.png
PERFIDIA  CHA CHA  -  CAL TJADER [0rjP5MPA3qs]_zcr.png
Randy Weston Quintet at the Five Spot - Hi-Fly [47vdxkLj4nU]_zcr.png
SONNY ROLLINS.St. Thomas [UA2XIWZxMKM]_zcr.png
So What - Miles Davis (1959) [ZrfzenYhv9w]_zcr.png
Soul Sauce [dEOjjeYEiRs]_zcr.png
Thelonious Monk - Misterioso [a1WDW-swiAA]_zcr.png
Thelonious Monk - Straight, No Chaser [ujChUYkPvec]_zcr.png
Wayne Shorter - Speak No Evil [fvRkGglLe-U]_zcr.png
Wynton Kelly Trio (Wes Montgomery)_ Unit 7 [jUN01HYwRX4]_zcr.png
＂Comin' Home Baby＂  Herbie Mann [RJEjFh2FOzA]_zcr.png
＂Groove＂ Holmes - ＂Misty＂ [1OKduoWWWsE]_zcr.png
